/* Header */
.main-header img {
  padding: 2rem 2rem 0rem 2rem;
  border-bottom: 0.25rem solid #000000;
}

.main-header .text {
  text-align: left;
  padding-left: 6rem;
}

/* Main */
.odd {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-items: center;
}

.even {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 3rem;
  align-items: center;
  justify-items: center;
}

.innovation img {
  padding: 2rem 0rem;
}

.innovation .explanation {
  min-width: 20rem;
  max-width: 60%;
}

.innovation .explanation p a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--leaftech_blue);
}

.odd .explanation {
  justify-self: start;
}

.even .explanation {
  justify-self: end;
}

.odd img {
  padding-left: 30vw;
}

.even img {
  padding-right: 15vw;
}

.contact {
  grid-gap: 3rem;
}

/* media queries */
@media (max-width: 700px) {
  .odd img {
    padding-left: 15vw;
  }

  .even img {
    padding-right: 15vw;
  }

}

@media (max-width: 500px) {

  .main-header .text {
    text-align: center;
    padding: 3rem;
  }

  .main-header img {
    display: none;
  }

  /* innovation */
  .innovation {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem;
    text-align: left;
  }

  .innovation img {
    justify-self: center;
    padding: 2rem 0rem 0rem 0rem;
  }

  .innovation .explanation {
    order: 1;
    justify-self: center;
    text-align: left;
  }

}

/* innovation 1
.IP_img {
  grid-area: IP_img;
  justify-self: end;
  padding-right: 10rem;
}

.IP_txt {
  grid-area: IP_txt;
  padding-right: 10rem;
}

.IP_txt a {
  color: #3087DF;
  font-family: "Nunito Sans";
  font-size: 14px;
  text-align: center;
}


.CS_img {
  grid-area: CS_img;
  justify-self: start;
  padding-left: 10rem;
}

.CS_txt {
  grid-area: CS_txt;
  padding-left: 10rem;
}

.CS_txt a {
  color: #3087DF;
  font-family: "Nunito Sans";
  font-size: 14px;
  text-align: center;
}


.WPA_img {
  grid-area: WPA_img;
  justify-self: end;
  padding-right: 10rem;
}

.WPA_txt {
  grid-area: WPA_txt;
  padding-right: 10rem;
}

.WPA_txt a {
  color: #3087DF;
  font-family: "Nunito Sans";
  font-size: 14px;
  text-align: center;
}

.PV_img {
  grid-area: PV_img;
  justify-self: start;
  padding-left: 10rem;
}

.PV_txt {
  grid-area: PV_txt;
  padding-left: 10rem;
}

.PV_txt a {
  color: #3087DF;
  font-family: "Nunito Sans";
  font-size: 14px;
  text-align: center;
}
.FIA_img {
  grid-area: FIA_img;
  justify-self: end;
  padding-right: 10rem;
}

.FIA_txt {
  grid-area: FIA_txt;
  padding-right: 10rem;
}

.FIA_txt a {
  color: #3087DF;
  font-family: "Nunito Sans";
  font-size: 14px;
  text-align: center;
}
*/
