/* HTML structure with CSS grid */
.imprint-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  width: 60vw;
  background-color: var(--background_blue);
  margin: auto;
  padding: 1rem;
}
