/* HTML structure with CSS grid */

/* Comment: forming the body grid container */
.wrapper{
  display: grid;
  grid-template:"logo logo logo navigator navigator navigator" auto
                "title_img title_img title_img title_txt title_txt title_txt" auto
                "partners partners partners partners partners partners" auto
                "benefit1_img benefit1_img benefit2_img benefit2_img benefit3_img benefit3_img" auto
                "benefit1_txt benefit1_txt benefit2_txt benefit2_txt benefit3_txt benefit3_txt" auto
                "what what what what what what" auto
                "step1_img step1_img step1_img step1_img step1_img step1_img" auto
                "step1_txt step1_txt step1_txt step1_txt step1_txt step1_txt" auto
                "step2_img step2_img step2_img step2_img step2_img step2_img" auto
                "step2_txt step2_txt step2_txt step2_txt step2_txt step2_txt" auto
                "step3_img step3_img step3_img step3_img step3_img step3_img" auto
                "step3_txt step3_txt step3_txt step3_txt step3_txt step3_txt" auto
                "contact contact contact contact contact contact" 3fr
                "footer footer footer footer footer footer" auto
                /1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  margin: 0 auto;
  padding: 2rem;
}

.logo{
  grid-area: logo;
}

.navigator{
  grid-area: navigator;
}

.title_img{
  grid-area: title_img;
}

.title_txt{
  grid-area: title_txt;
}

.partners{
  grid-area: partners;
}

.what{
  grid-area: what;
}

.partners{
  grid-area: partners;
}

.benefit1_img {
  grid-area: benefit1_img;
}

.benefit2_img {
  grid-area: benefit2_img;
}

.benefit3_img {
  grid-area: benefit3_img;
}

.benefit1_txt {
  grid-area: benefit1_txt;
}

.benefit2_txt {
  grid-area: benefit2_txt;
}

.benefit3_txt {
  grid-area: benefit3_txt;
}

.step1_img{
  grid-area: step1_img;
}

.step2_img{
  grid-area: step2_img;
}

.step3_img{
  grid-area: step3_img;
}

.step1_txt{
  grid-area: step1_txt;
}

.step2_txt{
  grid-area: step2_txt;
}

.step3_txt {
  grid-area: step3_txt;
}

.contact{
  grid-area: contact;
}

.footer {
  grid-area: footer;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left
}
nav ul li a {
  display: block;
  padding: 1rem;
}
nav ul li a {
  color: #352917;
  font-family: "Nunito";
  font-weight: bold;
  text-decoration: none;
}
nav ul li a {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  margin: 0;
  height: 14px;
}

/* Comment: Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: lightgray;
}
/* Comment: The active page */
.active {
  background-color: darkgray;
}

/* body - header - title */
h1 {
  color: #2F2F2F;
  font-family: "Nunito";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 38px;
}

p {
  color: #383838;
  font-family: "Nunito";
  font-size: 1rem;
  line-height: 2rem;
}

.what p {
  color: #352917;
  font-family: "Nunito";
  font-size: 18px;
  letter-spacing: 0;
}

button {
  height: 3.3rem;
  width: 14rem;
  border-radius: 0.25rem;
  background-color: #313131;
  color: #FFFFFF;
  font-family: "Nunito";
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.2rem;
  text-align: center;
}



/* body - header - partners */
ul {
  list-style-type: none;
  padding: 2rem;
  margin: 0;
  overflow: hidden;
}

ul li {
  float: left;
  display: block;
  margin: 0 auto;
}

ul li a img {
  max-height: 2rem;
  max-width: 6rem;
}

/* body - main -  */
h2 {
  color: #352917;
  font-family: "Nunito";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
}




