/* CSS variables */
:root {
  --leaftech_blue: #4989D8;
  --leaftech_gray: #778AA3;
  --background_blue: #B8CBE40D;
  --heading_font: Exo;
  --paragraph_font: Nunito Sans;
  --border-line: 0.0625rem solid #000000;
}

/* Global settings */
html {
  font-size: 14px;
}

body {}

h1 {
  font-family: var(--heading_font);
  font-weight: 800;
  font-size: 2rem;
}

h2 {
  font-family: var(--heading_font);
  font-weight: 600;
  font-size: 2em;
}

h3 {
  font-family: var(--heading_font);
  font-weight: 600;
  font-size: 1.5em;
}

p {
  font-family: var(--paragraph_font);
  font-weight: 400;
  font-size: 1rem;
  color: var(--leaftech_gray);
}

button {
  font-family: var(--paragraph_font);
  font-weight: 400;
  height: 2.75rem;
  width: 11.25rem;
  color: #FFFFFF;
  text-align: center;
  background-color: #3087DF;
  box-shadow: 0 2px 9px 0 rgba(0,135,230,0.6);
  border: none;
}

button a {
  text-decoration: none;
  color: #FFFFFF;
}


/* Forming the main container */
.wrapper{
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
}

/* Top container */
.navigator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  background-color: var(--background_blue);
}

.navigator img {
  height: 3rem;
  padding-left: 6em;
}

.main-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  list-style: none;
  padding: 0;
}

.main-nav ul li a {
  display: block;
  font-family: var(--paragraph_font);
  font-weight: 700;
  text-decoration: none;
  color: #352917;
}

.main-nav ul li a:hover {
  color: var(--leaftech_blue);
}

.main-nav ul li .active {
  color: var(--leaftech_blue);
}

/* Header */
.main-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  background-color: var(--background_blue);
  border-bottom: 0.25rem #000000;
}

.main-header img {
  padding: 2em 2em 0em 2em;
  border-bottom: 0.125em solid #000000;
}

.main-header .text h1, .main-header .text p {
  padding-right: 9em;
}

.partners ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.partners ul li a img {
  display: block;
  opacity: 0.7;
  background-color: #FFFFFF;
  height: 2rem;
  padding: 2em 2em;
  }

.breaking_line_top {
  border: var(--border-line);
  background-color: #000000;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  background-color: var(--background_blue);
  justify-items: start;
}

.benefit {
  text-align: left;
  padding: 2rem;
}

.sticky {
  margin-top: 0rem;
}

.steps{
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0rem 18rem 3rem;
}

.steps h1 {
  padding-top: 3rem;
  margin-bottom: 0rem;
}

.steps a {
  display: block;
  font-family: var(--paragraph_font);
  font-weight: 700;
  font-size: 1.075em;
  color: var(--leaftech_blue);
  text-decoration: underline;
}

/* contact */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: start;
  background-color: var(--background_blue);
}

.contact img {
  justify-self: end;
  padding: 2rem 0rem;
}

/* 3: positioning, justifying, and alignment */


.breaking_line_bot {
  border: var(--border-line);
  background-color: #000000;
}

footer {
  display: grid;
  grid-template-areas: 'footer_logo footer_home footer_services footer_lab footer_media .';
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr 2fr;
  grid-gap: 1rem;
  align-items: start;
  justify-items: start;
}

.footer_logo {
  grid-area: footer_logo;
  justify-self: center;
}

.footer_home {
  grid-area: footer_home;
}

.footer_services {
  grid-area: footer_services;
}

.footer_lab {
  grid-area: footer_lab;
}

.footer_media {
  grid-area: footer_media;
}

.footer_logo img {
  height: 3rem;
}

.footer_home h3, .footer_services h3, .footer_lab h3, .footer_media h3 {
  font-family: var(--heading_font);
  margin: 0rem;
  line-height: 36px;
}

.footer_home h3 a, .footer_services h3 a, .footer_lab h3 a, .footer_media h3 a {
  color: #000000;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
}

.footer_home h3 a:hover, .footer_services h3 a:hover, .footer_lab h3 a:hover {
  color: var(--leaftech_blue);
  font-size: 0.625rem;
}

.footer_services ul, .footer_lab ul, .footer_media ul {
  list-style-type: none;
  padding: 0rem;
  margin-top: 0;
}


.footer_home ul li a, .footer_services ul li a, .footer_lab ul li a {
  color: var(--leaftech_gray);
  font-size: 0.75rem;
  text-decoration: none;
}

.footer_home ul li a:hover, .footer_services ul li a:hover, .footer_lab ul li a:hover {
  color: var(--leaftech_blue);
  font-size: 0.625rem;
}

.footer_media ul li {
  float: left;
  margin-right: 0.5rem;
}


.breaking_line_imp {
  border: 0.03125rem solid var(--leaftech_gray);
  background-color: var(--leaftech_gray);
}

.imprint {
  display: grid;
  grid-template-areas: '. . imprint_privacy imprint_acknowledgement imprint_copyright .';
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr 2fr;
  grid-gap: 1rem;
  align-items: center;
  justify-items: start;
}

.imprint_privacy {
  grid-area: imprint_privacy;
  padding: 0.5em 0em;
}

.imprint_acknowledgement {
  grid-area: imprint_acknowledgement;
  padding: 0.5em 0em;
}

.imprint_copyright {
  grid-area: imprint_copyright;
  padding: 0.5em 0em;
}

.imprint_privacy a, .imprint_acknowledgement a, .imprint_copyright p {
  color: var(--leaftech_gray);
  font-family: var(--paragraph_font);
  font-size: 0.625em;
  text-decoration: none;
}


/* media queries */
@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }

  .navigator {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: center;
    background-color: var(--background_blue);
  }
  .navigator img {
  display: none;
  }

  .navigator .main-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  list-style: none;
  padding: 0;
  }

  /* Header */
  .main-header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--background_blue);
  }

  .main-header img {
    display: none
  }

  .main-header .text h1, .main-header .text p {
    text-align: center;
  }

  .partners ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  .benefits {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--background_blue);
    justify-items: center;
  }

  .benefit {
    text-align: center;
  }

  .steps {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem 3rem;
  }

  .steps img {
    display: none;
  }

  .contact {
    display: none;
  }

  .breaking_line_bot {
    display: none;
  }

  footer{
    display: none;
  }

  .imprint {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  justify-items: start;
  }

}





