/* HTML structure with CSS grid */

/* 1: forming the body grid container */
.wrapper{
  display: grid;
  grid-template:"logo logo logo logo logo logo navigator navigator navigator navigator navigator navigator" auto
                "title_img title_img title_img title_img title_img title_img title_txt title_txt title_txt title_txt title_txt title_txt" auto
                "breaking_line_top breaking_line_top breaking_line_top breaking_line_top breaking_line_top breaking_line_top breaking_line_top breaking_line_top breaking_line_top breaking_line_top breaking_line_top breaking_line_top" auto
                "partners partners partners partners partners partners partners partners partners partners partners partners" auto
                "benefit1_img benefit1_img benefit1_img benefit1_img benefit2_img benefit2_img benefit2_img benefit2_img benefit3_img benefit3_img benefit3_img benefit3_img" auto
                "benefit1_txt benefit1_txt benefit1_txt benefit1_txt benefit2_txt benefit2_txt benefit2_txt benefit2_txt benefit3_txt benefit3_txt benefit3_txt benefit3_txt" auto
                "steps steps steps steps steps steps steps steps steps steps steps steps" auto
                "contact_img contact_img contact_img contact_img contact_img contact_img contact_txt contact_txt contact_txt contact_txt contact_txt contact_txt" auto
                "breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot" auto
                "footer_logo . footer_home footer_services footer_services footer_lab footer_lab footer_socialmedia footer_socialmedia . . ." auto
                "breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp" auto
                ". . . imprint_privacy imprint_privacy imprint_acknowledgement imprint_acknowledgement imprint_copyright imprint_copyright . . ." auto
                /1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  grid-column-gap: 2vw;
}

/* 2: media queries */
html {
  font-size: 14px;
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}

/* 3: positioning, justifying, and alignment */
.logo{
  grid-area: logo;
  align-self: center;
  font-size: 1rem;
  padding-left: 6em;
}

.navigator {
  grid-area: navigator;
  font-size: 1rem;
}

.title_img{
  grid-area: title_img;
  font-size: 1rem;
  justify-self: center;
  align-self: end;
  border-bottom: 0.125em solid #000000;
}

.title_txt{
  grid-area: title_txt;
  font-size: 1rem;
  justify-self: start;
  align-self: center;
  padding-right: 10em;
}

.breaking_line_top {
  grid-area: breaking_line_top;
  font-size: 1rem;
  border: 0.0625rem solid #000000;
  background-color: #000000;
}

.partners {
  grid-area: partners;
  font-size: 1rem;
  justify-self: center;
}

.benefit1_img {
  grid-area: benefit1_img;
  font-size: 1rem;
  padding: 0rem 6rem;
}

.benefit2_img {
  grid-area: benefit2_img;
  font-size: 1rem;
  padding: 0rem 3rem;
}

.benefit3_img {
  grid-area: benefit3_img;
  font-size: 1rem;
  padding: 0rem 3rem;
}

.benefit1_txt {
  grid-area: benefit1_txt;
  font-size: 1rem;
  justify-self: center;
  padding: 0rem 6rem;
}

.benefit2_txt {
  grid-area: benefit2_txt;
  font-size: 1rem;
  justify-self: center;
  padding: 0rem 3rem;
}

.benefit3_txt {
  grid-area: benefit3_txt;
  font-size: 1rem;
  justify-self: center;
  padding: 0rem 3rem;
}


.steps{
  grid-area: steps;
  font-size: 1rem;
  justify-self: center;
  text-align: center;
  padding: 0rem 20rem 3rem;
}

.contact_img {
  grid-area: contact_img;
  font-size: 1rem;
  justify-self: end;
  padding-right: 3rem;
  align-self: center;
}

.contact_txt {
  grid-area: contact_txt;
  font-size: 1rem;
  padding: 3rem 0rem;
}

.breaking_line_bot {
  grid-area: breaking_line_bot;
  font-size: 1rem;
  border: 0.0625rem solid #000000;
  background-color: #000000;
}

.footer_logo {
  grid-area: footer_logo;
  font-size: 1rem;
  justify-self: center;
  align-self: start;
}

.footer_home {
  grid-area: footer_home;
  font-size: 1rem;
}

.footer_services {
  grid-area: footer_services;
  font-size: 1rem;
}

.footer_lab {
  grid-area: footer_lab;
  font-size: 1rem;
}

.footer_lab_ext {
  grid-area: footer_lab_ext;
  font-size: 1rem;
}

.footer_socialmedia {
  grid-area: footer_socialmedia;
  font-size: 1rem;
}

/* 4: background color  */
.wrapper::before {
  content: "";
  background-color: #B8CBE40D;
  grid-row: 1/3;
  grid-column: 1/-1;
}

.wrapper::after {
  content: "";
  background-color: #B8CBE40D;
  grid-row: 5/7;
  grid-column: 1/-1;
}

.contact_background_color {
  background-color: #B8CBE40D;
  grid-row: 8/9;
  grid-column: 1/-1;
}

/* 5: styling  */
h1 {
  font-family: Exo;
  font-weight: 800;
  font-size: 2em;
}
h2 {
  font-family: Exo;
  font-weight: 600;
  font-size: 1.5em;
}

h3 {
  font-family: Exo;
  font-weight: 600;
  font-size: 1em;
}

p {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 1em;
  color: #778AA3;
}

button {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 1rem;
  height: 2.75rem;
  width: 11.25rem;
  color: #FFFFFF;
  text-align: center;
  background-color: #3087DF;
  box-shadow: 0 2px 9px 0 rgba(0,135,230,0.6);
  border: none;
}

button a {
  color: #FFFFFF;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.navigator ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.navigator ul li {
  float: left;
}

.navigator nav ul li a {
  display: block;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 1em;
  color: #352917;
  text-decoration: none;
  padding: 3em 3em 3em 0em;
}

.navigator nav ul li .active {
  display: block;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 1em;
  color: #4989D8;
  text-decoration: none;
  padding: 3em 3em 3em 0em;
}

.navigator nav ul li a:hover {
  display: block;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 1em;
  color: #4989D8;
  text-decoration: none;
  padding: 3em 3em 3em 0em;
}

.partners  ul li {
  float: left;
}

.partners  img {
  display: block;
  opacity: 0.7;
  background-color: #FFFFFF;
  height: 2rem;
  padding: 2em 2em;
  }

.steps a {
  display: block;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 1.075em;
  color: #4989D8;
  text-decoration: underline;
}

.footer_logo img {
  height: 3rem;
}

/* Style all font awesome icons */
.fa {
  color: #000000;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  padding-right: 1rem;
}

#home_header, #services_header, #lab_header, #footer_socialmedia_header {
  color: #000000;
}


.footer_home a, .footer_services a, .footer_lab a, .footer_lab_ext a {
  color: #778AA3;
  text-decoration: none;
  font-size: 0.75rem;
}

.footer_home a:hover, .footer_services a:hover, .footer_lab a:hover {
  color: #4989D8;
  font-family: Nunito Sans Semi-bold;
  font-size: 0.625rem;
  text-decoration: none;
}

.footer_logo, .footer_home, .footer_services, .footer_lab, .footer_socialmedia{
  padding: 0.25rem 0rem 0.25rem 0rem;
}

.breaking_line_imp {
  grid-area: breaking_line_imp;
  font-size: 1rem;
  border: 0.03125rem solid #778AA3;
  background-color: #778AA3;
}

.imprint_privacy {
  grid-area: imprint_privacy;
  font-size: 1rem;
}

.imprint_acknowledgement {
  grid-area: imprint_acknowledgement;
  font-size: 1rem;
}

.imprint_copyright {
  grid-area: imprint_copyright;
  font-size: 1rem;
}

.imprint_privacy a, .imprint_acknowledgement a, .imprint_copyright p {
  color: #778AA3;
  font-size: 0.5rem;
  text-decoration: none;
}






