/* HTML structure with CSS grid */

/* Comment: forming the body grid container */
.wrapper{
  display: grid;
  grid-template:"logo logo logo navigator navigator navigator" auto
                "title_txt title_txt title_txt title_img title_img title_img" auto
                "breaking_line breaking_line breaking_line breaking_line breaking_line breaking_line" auto
                "SA_title SA_title SA_title SA_title SA_title SA_title" auto
                "SA_img SA_img SA_img SA_txt SA_txt SA_txt" auto
                "SA_inbound SA_inbound SA_inbound SA_inbound SA_inbound SA_inbound" auto
                "SRF_title SRF_title SRF_title SRF_title SRF_title SRF_title" auto
                "SRF_img SRF_img SRF_img SRF_txt SRF_txt SRF_txt" auto
                ". . . SRF_inbound SRF_inbound SRF_inbound" auto
                "SRF_case_study SRF_case_study SRF_case_study SRF_case_study SRF_case_study SRF_case_study" auto
                "BEF_title BEF_title BEF_title BEF_title BEF_title BEF_title" auto
                "BEF_img BEF_img BEF_img BEF_txt BEF_txt BEF_txt" auto
                "BEF_case_study BEF_case_study BEF_case_study BEF_case_study BEF_case_study BEF_case_study" auto
                "contact_img contact_img contact_img contact_txt contact_txt contact_txt" auto
                "breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot" auto
                "footer_logo footer_home footer_services footer_lab footer_lab_ext footer_socialmedia" auto
                "breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp" auto
                ". . imprint_privacy imprint_terms . imprint_copyright" auto
                /1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1400px;
  min-width: 1000px;
  margin: 0 auto;
}

.logo{
  grid-area: logo;
  padding: 3rem 3rem 3rem 6rem;

}

.navigator{
  grid-area: navigator;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

ul li {
  float: left;
}

.navigator nav ul li a {
  display: block;
  color: #352917;
  font-family: "Nunito";
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 3rem 3rem 3rem 0rem;
}

.title_img{
  grid-area: title_img;
  justify-self: center;
  align-self: end;
}

.title_txt{
  grid-area: title_txt;
  justify-self: center;
  align-self: center;
}

h1 {
  font-family: Exo;
  color: #263238;
  font-size: 32px;
  font-weight: bold;
}

p {
  font-family: "Nunito Sans";
  color: #778AA3;
  font-size: 14px;
}

button {
  height: 44px;
  width: 180px;
  color: #FFFFFF;
  font-family: "Nunito Sans";
  font-size: 15px;
  text-align: center;
  background-color: #3087DF;
  /*
  font-weight: 600;
  box-shadow: 0 2px 9px 0 rgba(0,135,230,0.6);
   */
}

button a {
  color: #FFFFFF;
  text-decoration: none;
}

.breaking_line {
  grid-area: breaking_line;
  border: 0.0625rem solid #000000;
  background-color: #000000;
}

.SA_title {
  grid-area: SA_title;
  justify-self: center;
  text-align: center;
}

.SA_img {
  grid-area: SA_img;
  justify-self: end;
}

.SA_txt {
  grid-area: SA_txt;
  padding: 0rem 6rem;
}

.SA_inbound {
  grid-area: SA_inbound;
  justify-self: center;
  text-align: center;
  padding: 3rem 0rem;
}

.SA_inbound a {
  color: #3087DF;
  font-family: "Nunito Sans";
  font-size: 14px;
  text-align: center;
}

.SRF_title{
  grid-area: SRF_title;
  justify-self: center;
  text-align: center;
}

.SRF_img {
  grid-area: SRF_img;
  justify-self: end;
}

.SRF_txt {
  grid-area: SRF_txt;
  padding: 0rem 6rem;
}

.SRF_inbound {
  grid-area: SRF_inbound;
  justify-self: center;
  padding: 3rem 8rem;
}

.SRF_case_study {
  grid-area: SRF_case_study;
  justify-self: center;
  text-align: center;
  padding: 3rem 0rem;
}

.SRF_case_study a {
  color: #3087DF;
  font-family: "Nunito Sans";
  font-size: 14px;
  text-align: center;
}


.BEF_title{
  grid-area: BEF_title;
  justify-self: center;
  text-align: center;
}

.BEF_img {
  grid-area: BEF_img;
  justify-self: end;
}

.BEF_txt {
  grid-area: BEF_txt;
  padding: 0rem 6rem;
}

.BEF_case_study {
  grid-area: BEF_case_study;
  justify-self: center;
  text-align: center;
  padding: 3rem 0rem;
}

.BEF_case_study a {
  color: #3087DF;
  font-family: "Nunito Sans";
  font-size: 14px;
  text-align: center;
}

.contact_img {
  grid-area: contact_img;
  justify-self: end;
  padding: 3rem 0rem;
  /*background-color: #B8CBE4;
  opacity: 0.05;*/
}

.contact_txt {
  grid-area: contact_txt;
  padding: 0rem 6rem;
  align-self: center;
}

.breaking_line_bot {
  grid-area: breaking_line_bot;
  border: 0.0625rem solid #000000;
  background-color: #000000;
}

.footer_logo {
  grid-area: footer_logo;
  justify-self: center;
  align-self: start;
}

.footer_logo img {
  height: 25px;
}

.footer_home {
  grid-area: footer_home;
}

.footer_services {
  grid-area: footer_services;
}

.footer_lab {
  grid-area: footer_lab;
}

.footer_lab_ext {
  grid-area: footer_lab_ext;
}

.footer_socialmedia {
  grid-area: footer_socialmedia;
}

/* Style all font awesome icons */
.fa {
  color: #000000;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  padding-right: 1rem;
}

#home_header, #services_header, #lab_header, #footer_socialmedia_header {
  color: #000000;
}

#lab_ext_header {
  color: #FFFFFF;
}

.footer_home a, .footer_services a, .footer_lab a, .footer_lab_ext a {
  color: #778AA3;
  text-decoration: none;
  font-size: 0.75rem;
}

.footer_logo, .footer_home, .footer_services, .footer_lab, .footer_lab_ext, .footer_socialmedia{
  padding: 0.25rem 0rem 0.25rem 0rem;
}

.breaking_line_imp {
  grid-area: breaking_line_imp;
  border: 0.03125rem solid #778AA3;
  background-color: #778AA3;
}

.imprint_privacy {
  grid-area: imprint_privacy;
}

.imprint_terms {
  grid-area: imprint_terms;
}

.imprint_copyright {
  grid-area: imprint_copyright;
}

.imprint_privacy a, .imprint_terms a, .imprint_copyright p {
  color: #778AA3;
  font-size: 0.5rem;
  text-decoration: none;
}
