/* HTML structure with CSS grid */

/* Comment: forming the body grid container */
.wrapper{
  display: grid;
  grid-template:"logo logo logo navigator navigator navigator" auto
                "title_txt title_txt title_txt title_img title_img title_img" auto
                "breaking_line breaking_line breaking_line breaking_line breaking_line breaking_line" auto
                "contact_txt contact_txt contact_txt contact_txt contact_txt contact_txt" auto
                "breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot breaking_line_bot" auto
                "footer_logo footer_home footer_services footer_lab footer_lab_ext footer_socialmedia" auto
                "breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp breaking_line_imp" auto
                ". . imprint_privacy imprint_terms . imprint_copyright" auto
                /1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1400px;
  min-width: 1000px;
  margin: 0 auto;
}

.logo{
  grid-area: logo;
  padding: 3rem 3rem 3rem 6rem;

}

.navigator{
  grid-area: navigator;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

ul li {
  float: left;
}

.navigator nav ul li a {
  display: block;
  color: #352917;
  font-family: "Nunito";
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 3rem 3rem 3rem 0rem;
}

.title_img{
  grid-area: title_img;
  justify-self: start;
  align-self: end;
}

.title_txt {
  grid-area: title_txt;
  justify-self: center;
  align-self: center;
}

.breaking_line {
  grid-area: breaking_line;
  border: 0.0625rem solid #000000;
  background-color: #000000;
}

.contact_txt {
  grid-area: contact_txt;
  justify-self: center;
  align-self: center;
}

h1 {
  font-family: Exo;
  color: #263238;
  font-size: 32px;
  font-weight: bold;
}

p {
  font-family: "Nunito Sans";
  color: #778AA3;
  font-size: 14px;
}

button {
  height: 44px;
  width: 180px;
  color: #FFFFFF;
  font-family: "Nunito Sans";
  font-size: 15px;
  text-align: center;
  background-color: #3087DF;
  /*
  font-weight: 600;
  box-shadow: 0 2px 9px 0 rgba(0,135,230,0.6);
   */
}

button a {
  color: #FFFFFF;
  text-decoration: none;
}

.breaking_line_bot {
  grid-area: breaking_line_bot;
  border: 0.0625rem solid #000000;
  background-color: #000000;
}

.footer_logo {
  grid-area: footer_logo;
  justify-self: center;
  align-self: start;
}

.footer_logo img {
  height: 25px;
}

.footer_home {
  grid-area: footer_home;
}

.footer_services {
  grid-area: footer_services;
}

.footer_lab {
  grid-area: footer_lab;
}

.footer_lab_ext {
  grid-area: footer_lab_ext;
}

.footer_socialmedia {
  grid-area: footer_socialmedia;
}

/* Style all font awesome icons */
.fa {
  color: #000000;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  padding-right: 1rem;
}

#home_header, #services_header, #lab_header, #footer_socialmedia_header {
  color: #000000;
}

#lab_ext_header {
  color: #FFFFFF;
}

.footer_home a, .footer_services a, .footer_lab a, .footer_lab_ext a {
  color: #778AA3;
  text-decoration: none;
  font-size: 0.75rem;
}

.footer_logo, .footer_home, .footer_services, .footer_lab, .footer_lab_ext, .footer_socialmedia{
  padding: 0.25rem 0rem 0.25rem 0rem;
}

.breaking_line_imp {
  grid-area: breaking_line_imp;
  border: 0.03125rem solid #778AA3;
  background-color: #778AA3;
}

.imprint_privacy {
  grid-area: imprint_privacy;
}

.imprint_terms {
  grid-area: imprint_terms;
}

.imprint_copyright {
  grid-area: imprint_copyright;
}

.imprint_privacy p, .imprint_terms p, .imprint_copyright p {
  color: #778AA3;
  font-size: 0.5rem;
}
