/* Header */
.main-header img {
  padding: 2rem 2rem 0rem 2rem;
  margin-bottom: 0rem;
}

.main-header .text {
  text-align: left;
  padding-left: 6rem;
}

/* Main */
h3 {
  margin-bottom: 0rem;
}

p {
  margin-top: 0rem;
}

form {
  width: 60%;
  margin: 0 auto;
  padding: 3rem 0rem;
}
form fieldset {
  background-color: var(--background_blue);
}

.personal-information {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 3rem;
  justify-items: start;
  align-items: center;
  padding: 0rem 2rem;
}

.personal-information label {
  font-family: var(--paragraph_font);
  font-weight: bold;
  color: #233238;
  padding: 2rem 0rem 0.5rem 0rem;

}
.personal-information input {
  font-family: var(--paragraph_font);
  color: var(--leaftech_gray);
  opacity: 0.4;
  padding: 1rem;
  width: 100%;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(119,138,163,0.3);
}

.newsletter {
  padding: 2rem;
}

.newsletter label{
  font-family: var(--paragraph_font);
  color: var(--leaftech_gray);
  font-weight: normal;
}

.services {
  padding: 2rem;
}

.innovations {
  padding: 0rem 2rem 2rem 2rem;
}

.services p, .innovations p {
  color: #000000;
  font-weight: bold;
}

.services label, .innovations label {
  display: inline-block;
  font-family: var(--paragraph_font);
  color: var(--leaftech_gray);
  opacity: 0.4;
  font-weight: normal;
  padding: 1rem;
  margin: 0rem 1rem 1rem 0rem;
  width: fit-content;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(119,138,163,0.3);
}

.services input:checked + label, .innovations input:checked + label {
  box-sizing: border-box;
  border: 1px solid var(--leaftech_blue);
  background-color: #FFFFFF;
  color: var(--leaftech_blue);
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0,134,230,0.3);
  opacity: 1;
}

.message {
  padding: 2rem;
}

.message textarea {
  margin: 0rem 1rem 1rem 0rem;
  width: 100%;
  height: 5rem;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(119,138,163,0.3);
  font-family: var(--paragraph_font);
  color: var(--leaftech_gray);
  opacity: 0.4;
}

button {
  margin: 2rem;
}

/* media queries */
@media (max-width: 700px) {

}

@media (max-width: 500px) {

  .main-header .text {
    text-align: center;
    padding: 3rem;
  }

  .main-header img {
    display: none;
  }

}
