/* Header */
.main-header img {
  padding: 2rem 2rem 0rem 2rem;
  margin-bottom: 0rem;
}

.main-header .text {
  align-self: start;
  text-align: left;
  margin: 3rem 0rem 0rem 12rem;
}

/* Main */
h3 {
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0rem;
}

form {
  width: 60%;
  margin: 0 auto;
  padding: 3rem 0rem;
}

form fieldset {
  background-color: #FBFCFE;
}

.personal-information {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 3rem;
  justify-items: start;
  align-items: center;
  padding: 0rem 2rem;
}

.personal-information label {
  font-family: var(--paragraph_font);
  font-weight: normal;
  color: #233238;
  padding: 2rem 0rem 0.5rem 0rem;
  font-size: 0.85rem;
}
.personal-information input {
  font-family: var(--paragraph_font);
  opacity: 0.8;
  padding: 1rem;
  width: 100%;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(119,138,163,0.3);
}

.newsletter {
  padding: 2rem;
}

.newsletter label{
  font-family: var(--paragraph_font);
  color: var(--leaftech_gray);
  font-weight: normal;
}

.newsletter input {
  transform: scale(1.5);
  border: 0.1rem solid #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(119,138,163,0.3);
  margin-right: 1rem;
}

/*
.newsletter input[type="checkbox"]:not(:disabled) {
  box-shadow: 0 2px 4px 0 rgba(119,138,163,0.3);
}
*/

.services {
  padding: 2rem;
}

.innovations {
  padding: 0rem 2rem 2rem 2rem;
}

.services p, .innovations p {
  color: #000000;
  font-weight: bold;
}

.services label, .innovations label {
  display: inline-block;
  font-family: var(--paragraph_font);
  color: var(--leaftech_gray);
  opacity: 0.8;
  font-weight: bolder;
  padding: 1rem 2rem;
  margin: 0rem 1rem 1rem 0rem;
  width: fit-content;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(119,138,163,0.3);
}

.services input:checked + label, .innovations input:checked + label {
  box-sizing: border-box;
  border: 0.1rem solid var(--leaftech_blue);
  background-color: #FFFFFF;
  color: var(--leaftech_blue);
  font-weight: bolder;
  box-shadow: 0 2px 4px 0 rgba(0,134,230,0.3);
  opacity: 1;
}

.message {
}

.message textarea {
  width: 90%;
  margin: 2rem;
  height: 10rem;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(119,138,163,0.3);
  font-family: var(--paragraph_font);
  opacity: 0.8;
  padding-top: 1rem;
  padding-left: 2rem;
}

button {
  margin-top: 2rem;
  float: right;
}

/* media queries */
@media (max-width: 700px) {
  form {
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0rem;
  }
}

@media (max-width: 500px) {

  .main-header .text {
    text-align: center;
    padding: 3rem;
  }

  .main-header img {
    display: none;
  }

  form {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0rem;
  }


.personal-information {
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: 1fr;
  }

}

.myExtraField {
  visibility: collapse;
}

/* checkbox
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.control input:disabled~.control__indicator {
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

*/
