/* header */
.main-header img {
  padding: 2rem 2rem 0rem 2rem;
  margin-bottom: 0rem;
}

.main-header .text {
  text-align: left;
  padding-left: 6rem;
}

/* main */
article {
  display: grid;
  grid-template-areas:  "title title"
                        "illustration description"
                        "lead lead";
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  margin-top: 6rem;
}

.title {
  grid-area: title;
  text-align: center;
}

.title span {
  text-transform: uppercase;
  color: var(--leaftech_blue);
  padding: 0rem 0.5rem;
  margin: 0rem;
  font-weight: bold;
}

.title img {
  height: 2rem;
  padding: 0rem;
  margin: 0rem 0rem 0.25rem 0rem;
}

.illustration {
  grid-area: illustration;
  padding: 3rem 0rem 6rem 0rem;
}

.description {
  grid-area: description;
  justify-self: start;
  padding: 3rem 6rem 3rem 0rem;
}

.highlight {
  background-color: #CBE0F640;
}

.highlight h3 {
  padding: 1rem 1rem 0rem 1rem;
  font-size: 1.15rem;
  font-weight: normal;
  font-family: var(--paragraph_font);
}

.highlight p {
  padding: 0rem 1rem 1rem 1rem;
  font-size: 0.85rem;
}

ul.dashed {
  list-style: none;
  padding-left: 0;
}

ul.dashed > li {
  margin-left: 1rem;
  font-family: var(--paragraph_font);
  color: var(--leaftech_gray);
}

/* Prevent nested li's from getting messed up */
ul.dashed > li::before {
  content: "-";
  margin-left: 0rem;
}

.lead {
  grid-area: lead;
  background-color: var(--background_blue);
  font-size: 1.15rem;
  width: 100%;
  text-align: center;
}

.lead p a {
  color: #3087DF;
  font-weight: bold;
}

@media (max-width: 700px) {

}

@media (max-width: 500px) {

  .main-header .text {
    text-align: center;
    padding: 3rem;
  }

  .main-header img {
    display: none;
  }

  /* main */
  article {
    display: grid;
    grid-template-areas:  "title"
                          "illustration"
                          "description"
                          "lead";
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }


  .title {
    grid-area: title;
    text-align: center;
  }

  .illustration {
    grid-area: illustration;
    padding: 0rem 3rem;
  }

  .description {
    grid-area: description;
    padding: 0rem 3rem;
    text-align: center;
  }

  .highlight {
    text-align: left;
  }

  ul.dashed > li {
    text-align: left;
  }

  .lead {
    grid-area: lead;
  }

}
