/* Header */
.main-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  background-color: var(--background_blue);
  border-bottom: 0.25rem #000000;
}

.main-header img {
  padding: 2em 2em 0em 2em;
  border-bottom: 0.125em solid #000000;
}

.main-header .text h1, .main-header .text p {
  padding-right: 9em;
}

.partners ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.partners ul li a img {
  display: block;
  opacity: 0.7;
  background-color: #FFFFFF;
  height: 2rem;
  padding: 2em 2em;
  }

.breaking_line_top {
  border: var(--border-line);
  background-color: #000000;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  background-color: var(--background_blue);
  justify-items: start;
}

.benefit {
  text-align: left;
  padding: 2rem;
}

.sticky {
  margin-top: 0rem;
}

.steps{
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0rem 18rem 3rem;
}

.steps h1 {
  padding-top: 3rem;
  margin-bottom: 0rem;
}

.steps a {
  display: block;
  font-family: var(--paragraph_font);
  font-weight: 700;
  font-size: 1.075em;
  color: var(--leaftech_blue);
  text-decoration: underline;
}

/* contact */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: start;
  background-color: var(--background_blue);
}

.contact img {
  justify-self: end;
  padding: 2rem 0rem;
}



/* media queries */
@media (max-width: 700px) {

    .benefits {
      display: grid;
      grid-template-areas:  "cost health"
                            "prestige prestige";
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      justify-items: center;
      align-items: center;
    }

    .cost {
      grid-area: cost;
    }

    .health {
      grid-area: health;
    }

    .prestige {
      grid-area: prestige;
    }

    .benefit {
      text-align: center;
      padding: 2rem;
    }

  }

@media (max-width: 500px) {

  /* Header */
  .main-header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--background_blue);
  }

  .main-header .text h1, .main-header .text p{
    padding: 0rem;
    text-align: center;
  }

  .main-header .text button {
    display: block;
    margin: 0 auto;
    padding: 1rem;
  }

  .breaking_line_top {
    display: block;
    margin: 1rem 0rem;
  }


  .partners ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  .benefits {
    display: grid;
    grid-template-areas:  "cost"
                          "health"
                          "prestige";
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .cost {
      grid-area: cost;
    }

  .health {
      grid-area: health;
    }

  .prestige {
      grid-area: prestige;
    }

  .benefit {
      text-align: center;
      padding: 2rem;
    }

  .steps {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem 3rem;
  }

  .steps img {
    display: block;
  }


}





