/* Header */
.main-header img {
  padding: 2rem 2rem 0rem 2rem;
  margin-bottom: 0rem;
}

.main-header .text {
  max-width: 30rem;
  justify-self: start;
}

.main-header .text p {
  padding-bottom: 1rem;
}

/* Main */
.partners ul {
  list-style: none;
  text-align: center;
}

.partners ul li {
  display: inline-block;
  float: none;
  padding: 2rem 2rem;
}

.partners ul li a img {
  display: block;
  background-color: #FFFFFF;
  height: 2rem;
  }

.benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--background_blue);
  justify-items: start;
}

.benefits img {
  height: 13rem;
}

.benefit {
  text-align: left;
}

.cost {
  justify-self: end;
  padding: 2rem 2rem 2rem 5rem;
}

.health {
  justify-self: center;
  padding: 2rem;
}

.prestige {
  padding: 2rem 5rem 2rem 2rem;
}

.benefit p {
  max-width: 22rem;
}

.prestige p {
  max-width: 24rem;
}

.sticky {
  margin-top: 0rem;
}

.steps{
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0rem 10rem 3rem;
}

.steps > h1 {
  padding-top: 3rem;
  margin-bottom: 0rem;
}

.margin-bot {
  margin-bottom: 2rem;
}

.bigger {
  font-size: 1.3rem;
}

.steps > h3 {
  margin-top: 0.5rem;
}

.hyphen-limiter {
  max-width: 50rem;
}

.steps a {
  display: block;
  font-family: var(--paragraph_font);
  font-weight: bold;
  font-size: 1.075em;
  color: var(--leaftech_blue);
  text-decoration: underline;
}

/* media queries */
@media (max-width: 700px) {

  /*header*/
  .main-header .text {
    padding-right: 6rem;
  }

  /* main */
  .benefits {
    display: grid;
    grid-template-areas:  "cost health"
                          "prestige prestige";
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
  }

  .cost {
    grid-area: cost;
  }

  .health {
    grid-area: health;
  }

  .prestige {
    grid-area: prestige;
  }

  .benefit {
    text-align: center;
    padding: 2rem;
  }

  }

@media (max-width: 500px) {

  /* header */
  .main-header .text {
    padding: 1rem 3rem;
    margin: 0 auto;
    text-align: center;
  }

  .main-header .text button {
    display: block;
    margin: 0 auto;
    padding: 1rem;
  }

  /* main */
  .partners ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  .benefits {
    display: grid;
    grid-template-areas:  "cost"
                          "health"
                          "prestige";
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .cost {
      grid-area: cost;
    }

  .health {
      grid-area: health;
    }

  .prestige {
      grid-area: prestige;
    }

  .benefit {
      text-align: center;
      padding: 2rem;
    }

  .steps {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem 3rem;
  }

  .steps img {
    display: block;
  }


}





