/* Header */
.main-header img {
  padding: 2rem 2rem 0rem 2rem;
  margin-bottom: 0rem;
}

.main-header .text {
  text-align: left;
  padding-left: 6rem;
}

.main-header .text button {
  margin-top: 1rem;
}

/* Main */
.odd {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-items: start;
  max-width: 60%;
  margin: 3rem auto;
}

.even {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 3rem;
  align-items: center;
  justify-items: start;
  max-width: 60%;
  margin: 3rem auto;
}

.innovation img {
  padding: 0rem;
}

.innovation .explanation p a {
  text-decoration: underline;
  font-weight: 500;
  color: var(--leaftech_blue);
}

/*
.odd .explanation {
  justify-self: start;
}

.even .explanation {
  justify-self: end;
}

.odd img {
  padding-left: 30vw;
}

.even img {
  padding-right: 15vw;
}
*/

.contact {
  grid-gap: 3rem;
}

/* media queries */
@media (max-width: 700px) {
  .odd img {
    padding-left: 15vw;
  }

  .even img {
    padding-right: 15vw;
  }

}

@media (max-width: 500px) {

  .main-header .text {
    text-align: center;
    padding: 3rem;
  }

  .main-header img {
    display: none;
  }

  /* innovation */
  .innovation {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem;
    text-align: left;
  }

  .innovation img {
    justify-self: center;
    padding: 2rem 0rem 0rem 0rem;
  }

  .innovation .explanation {
    order: 1;
    justify-self: center;
    text-align: left;
  }

}
