/* CSS variables */
:root {
  --leaftech_blue: #4989D8;
  --leaftech_gray: #778AA3;
  --background_blue: #B8CBE40D;
  --heading_font: Exo;
  --paragraph_font: Nunito Sans;
  --border_black: 0.20rem solid #263238;
  --border_gray: 0.10rem solid #778AA3;
  --title_black: #263238;
}

/* Global settings */
html {
  font-size: 14px;
}

body {}

h1 {
  font-family: var(--heading_font);
  font-weight: 600;
  color: var(--title_black);
  font-size: 2.3rem;
}

h2 {
  font-family: var(--heading_font);
  font-weight: 600;
  color: var(--title_black);
  font-size: 2em;
}

h3 {
  font-family: var(--heading_font);
  font-weight: 600;
  color: var(--title_black);
  font-size: 1.5em;
}

p {
  font-family: var(--paragraph_font);
  font-weight: 400;
  color: var(--leaftech_gray);
}

span {
  font-family: var(--paragraph_font);
  font-weight: 400;
  color: var(--leaftech_gray);
}

button {
  font-family: var(--paragraph_font);
  font-weight: 400;
  height: 3.15rem;
  width: 12.85rem;
  color: #FFFFFF;
  text-align: center;
  background-color: #3087DF;
  box-shadow: 0 2px 9px 0 rgba(0,135,230,0.6);
  border: none;
}

button a {
  text-decoration: none;
  color: #FFFFFF;
}


/* Wrapper */
.wrapper{
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
}

/* Navigator */
.navigator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  background-color: var(--background_blue);
  padding: 3rem 0rem;
}

.navigator img {
  justify-self: start;
  padding-left: 25%;
}

.main-nav {
  width: 100%;
}

.main-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  justify-self: center;
  text-align: center;
  padding-inline-start: 0rem;
  padding: 0rem 5rem;
}

.main-nav ul li a {
  display: block;
  font-family: var(--paragraph_font);
  font-weight: 700;
  text-decoration: none;
  color: #352917;
}

.main-nav ul li a:hover {
  color: var(--leaftech_blue);
}

.main-nav ul li .active {
  color: var(--leaftech_blue);
}

/* header */
.main-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  background-color: var(--background_blue);
  border-bottom: var(--border_black);
}

.main-header .text {
  min-width: 20rem;
}

/* contact */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-items: start;
  background-color: var(--background_blue);
}

.contact img {
  justify-self: end;
  padding: 2rem 0rem;
}

.contact div {
  padding: 2rem;
}

.contact div h3 {
  margin-bottom: 0.25rem;
}
.contact div p {
  margin-top: 0rem;
}

/* footer*/
footer {
  display: grid;
  grid-template-areas: 'footer_logo footer_home footer_services footer_lab footer_media .';
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr 2fr;
  grid-gap: 1rem;
  align-items: start;
  justify-items: start;
  border-top: var(--border_black);
}

.footer_logo {
  grid-area: footer_logo;
  justify-self: center;
}

.footer_home {
  grid-area: footer_home;
}

.footer_services {
  grid-area: footer_services;
}

.footer_lab {
  grid-area: footer_lab;
}

.footer_media {
  grid-area: footer_media;
}

.footer_logo img {
  height: 1rem;
  padding-top: 1.5rem;
}

.footer_home h3, .footer_services h3, .footer_lab h3, .footer_media h3 {
  font-family: var(--heading_font);
  margin: 0rem;
  padding-top: 1rem;
}

.footer_home h3 a, .footer_services h3 a, .footer_lab h3 a, .footer_media h3 a {
  font-family: var(--paragraph_font);
  color: #000000;
  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: none;
}

.footer_home h3 a:hover, .footer_services h3 a:hover, .footer_lab h3 a:hover {
  color: var(--leaftech_blue);
}

.footer_services ul, .footer_lab ul, .footer_media ul {
  list-style-type: none;
  padding: 0rem;
  margin-top: 0;
}


.footer_home ul li a, .footer_services ul li a, .footer_lab ul li a {
  font-family: var(--paragraph_font);
  color: var(--leaftech_gray);
  font-size: 0.85rem;
  text-decoration: none;
}

.footer_home ul li a:hover, .footer_services ul li a:hover, .footer_lab ul li a:hover {
  color: var(--leaftech_blue);
}

.footer_media ul li {
  float: left;
  margin-right: 0.5rem;
}

.imprint {
  display: grid;
  grid-template-areas: '. . imprint_privacy imprint_acknowledgement imprint_copyright .';
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr 2fr;
  grid-gap: 1rem;
  align-items: center;
  justify-items: start;
  border-top: var(--border_gray);
}

.imprint_privacy {
  grid-area: imprint_privacy;
  padding: 0.5rem 0rem;
}

.imprint_acknowledgement {
  grid-area: imprint_acknowledgement;
  padding: 0.5rem 0rem;
}

.imprint_copyright {
  grid-area: imprint_copyright;
  padding: 0.5rem 0rem;
}

.imprint_privacy a, .imprint_acknowledgement a, .imprint_copyright p {
  color: var(--leaftech_gray);
  font-family: var(--paragraph_font);
  font-size: 0.75rem;
  text-decoration: none;
}

/* media queries */
@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }

  /* class="responsive-hidden" */
  .responsive-hidden {
    display: none;
  }

  /* Navigator */
  .navigator {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--background_blue);
  }

  .navigator img {
  display: none;
  }

  .navigator .main-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  list-style: none;
  padding: 0;
  }

  /* Header */
  .main-header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--background_blue);
  }

  /* contact */
  .contact {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem;
    text-align: center;
  }

  /* Footer */
  footer {
    display: none;
  }

  .imprint {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
  }

  .imprint_privacy {
    grid-area: initial;
    padding: 0.5em 0em;
  }

  .imprint_acknowledgement {
    grid-area: initial;
    padding: 0.5em 0em;
  }

  .imprint_copyright {
    grid-area: initial;
    padding: 0.5em 0em;
  }

}
