/* HTML structure with CSS grid */

/* Comment: forming the body grid container */
.body-grid-container{
  display: grid;
  grid-template-rows: 3fr 22fr 2fr;
  margin: 0 auto;
  width: 60%;
  padding: 2rem;
}

/* Comment: setting the divs */
header{
  grid-row: 1 / 2;
  background-color: lightgrey;
}

main{
  grid-row: 2 / 3;
}

footer{
  grid-row: 3 / 4;
}

/* Comment: forming the header grid container */
.header-grid-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.header-logo-nav {
  grid-row: 1 / 2;
}

.header-title {
  grid-row: 2 / 3;
}

/* Forming the main grid container*/
.main-grid-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr repeat(2, 2fr) 1fr 1fr repeat(2, 2fr) 1fr 1fr 2fr 3fr 1fr 2fr;
  grid-template-columns: repeat(2, 1fr);
}

/* Forming the main grid container, shading automation */
.shading-automation-title {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.unique-window-img {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.unique-window-text {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.real-shading-conditions-img {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.real-shading-conditions-text {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.case-study-shading {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}

/* Forming the main grid container, single room*/
.single-room-title {
  grid-row: 6 / 7;
  grid-column: 1 / 3;
}

.room-for-anticipation-text {
  grid-row: 7 / 8;
  grid-column: 2 / 3;
}

.room-for-anticipation-img {
  grid-row: 7 / 8;
  grid-column: 1 / 2;
}

.get-the-most {
  grid-row: 8 / 9;
  grid-column: 1 / 2;}

.combine-with-shading-service {
  grid-row: 8 / 9;
  grid-column: 2 / 3;
}

.case-study-room {
  grid-row: 9 / 10;
  grid-column: 1 / 3;
}

/* Forming the main grid container, building forecast*/
.building-energy-title {
  grid-row: 10 / 11;
  grid-column: 1 / 3;
}

.building-energy-img {
  grid-row: 11 / 12;
  grid-column: 1 / 3;
}

.potential-of-predictions {
  grid-row: 12 / 13;
  grid-column: 1 / 2;
}
.the-more-the-better {
  grid-row: 12 / 13;
  grid-column: 2 / 3;
}

.case-study-building {
  grid-row: 13 / 14;
  grid-column: 1 / 3;
}

/* Forming the main grid container, traction*/
.traction {
  grid-row: 14 / 15;
  grid-column: 1 / 3;
  text-align: center;
}

/* Forming the footer*/
.footer-grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-text {
  grid-column: 1 / 2;
}

.footer-button {
  grid-column: 2 / 3;
}

/* body - header - logo */
/* body - header - navigator */
.header_logo_nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.logo {
  grid-column: 1 / 2;
}
.header-nav {
  grid-column: 2 / 3;
}
nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left
}
nav ul li a {
  display: block;
  padding: 1rem;
}
nav ul li a {
  color: #352917;
  font-family: "Nunito";
  font-weight: bold;
  text-decoration: none;
}
nav ul li a {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  margin: 0;
  height: 14px;
}
/* Comment: Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: lightgray;
}
/* Comment: The active page */
.active {
  background-color: darkgray;
}

/* body - header - title */
h1 {
  color: #2F2F2F;
  font-family: "Nunito";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 38px;
}

p {
  color: #383838;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 32px;
}

button {
  height: 53px;
  width: 225px;
  border-radius: 4px;
  background-color: #313131;
  color: #FFFFFF;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
}

.header_title p {
  width: 45rem;
}

/* body - main -  */
h2 {
  color: #352917;
  font-family: "Nunito";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
}

.main-grid-container p {
  max-width: 30rem;
}

.main-grid-container img {
  object-fit: cover;
  max-height: 310px;
  max-width: 470px;
  /*alignment: center;*/
}

shading-automation-title, .single-room-title, .building-energy-title h1 {
  text-align: center;
}

shading-automation-title, .single-room-title, .building-energy-title p {
  text-align: center;
}


.case-study-shading, .case-study-room, .case-study-building h3 {
  text-align: center;
}

.case-study-shading, .case-study-room, .case-study-building button {
  justify-self: center;
}
